<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">
            Door management system - admin
        </a>

        <div class="nav-bar">
            <a href="#" routerLink="/passage" class="nav-item">
              Passages
            </a>
            <a href="#" routerLink="/" class="nav-item">
              Chip cards
            </a>
            <a href="#" routerLink="/" class="nav-item">
              Gateways
            </a>
            <a href="#" routerLink="/" class="nav-item">
              People
            </a>
        </div>
    </div>
</header>
