<div class="detail-wrapper">
    <h1>
        PASSAGE DETAIL
    </h1>
    <h1>
        ID: {{ passageDetail.passageId }}
    </h1>

    <div>
        <p>
            <b>Time: </b>{{ passageDetail.time }}
        </p>


        <h3>Gateway</h3>
        <hr/>
        <p>
            <b>Id: </b>{{ passageDetail.gatewayId }}
        </p>
        <p>
            <b>Name: </b>{{ passageDetail.gatewayName }}
        </p>
        <p>
            <b>Code: </b>{{ passageDetail.gatewayCode }}
        </p>



        <h3>Chip card</h3>
        <hr/>
        <p>
            <b>Id: </b>{{ passageDetail.chipCardId }}
        </p>
        <p>
            <b>Serial number: </b>{{ passageDetail.chipCardSerialNumber }}
        </p>


        <h3>Person</h3>
        <hr/>
        <p>
            <b>Id: </b>{{ passageDetail.personId }}
        </p>

        <p>
            <b>Name: </b>{{ passageDetail.personName }}
        </p>
    </div>
</div>
