



<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="data">

      <!-- Id Column -->
      <ng-container matColumnDef="passageId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>passageId</th>
          <td mat-cell *matCellDef="let passage">{{passage.passageId}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>time</th>
          <td mat-cell *matCellDef="let row">{{row.time}}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="gatewayCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>gatewayCode</th>
          <td mat-cell *matCellDef="let passage">{{passage.gatewayCode}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="gatewayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>gatewayName</th>
          <td mat-cell *matCellDef="let row">{{row.gatewayName}}</td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="personName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>personName</th>
          <td mat-cell *matCellDef="let passage">{{passage.personName}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"

      aria-label="Select page">
  </mat-paginator>
</div>
